# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.db

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project
backend/uploads/*
!backend/uploads/.gitkeep

# Environment
.env
.env.local
docs/pdf_full_backup/
